themes {
    gruvbox {
        fg "#7c6f64"  // Very dim foreground
        bg "#000000"  // Pure black background
        black "#1d2021"  // Darkest Gruvbox dark
        red "#cc241d"
        green "#98971a"
        yellow "#d79921"
        blue "#458588"
        magenta "#b16286"
        cyan "#689d6a"
        white "#a89984"  // Significantly dimmed white
        orange "#d65d0e"
    }
}
